.leadFormContainer {
    background-color: #f5f5f5;
    padding: 3rem 6rem;
    font-size: 1.25rem;
}

.leadFormTitle {
    padding-bottom: 2rem;
    font-size: 1.625rem;
    color: #3F3F40;
    text-align: center;
}

.leadForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.leadInputContainer {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.leadInput {
    background-color: #f5f5f5;
    width: 24rem;
    max-width: 70vw;
    padding: .375rem .75rem;
    border: 1px solid #3F3F40;
    border-radius: .5rem;
    outline-color: #3F3F40;
    outline-width: 1px;
    color: #3F3F40;
}

.leadInputLabel {
    color: #3F3F40;
}

.leadButton {
    padding: .5rem 2rem;
}

.leadButton {
    border: none;
    border-radius: .5rem;
    background-color: #000000;
    color: #ffffff;
}

.leadSuccessMsg {
    background-color: #f5f5f5;
    color: #3F3F40;
    padding: 3rem 8rem;
    font-size: 1.5rem;
    text-align: center;
}

@media (max-width: 600px) {
    .leadSuccessMsg,
    .leadFormContainer {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}