.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 6.5rem 0 0 2rem;
}

@media screen and (min-width: 40em) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}
@media screen and (min-width: 80rem) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
}

.flexRowContent--menu-link {
  background-color: #03044e;
  color: #fff;
}

.flexRowContent--main-header {
  padding-top: 4px !important;
}


/* Header */

.flexRowContent--main-header {
  background-image: linear-gradient(to bottom, #000000, transparent);

}

/* Header mobile */

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
  background-image: linear-gradient(to bottom, #000000, transparent);
}


.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #000000;
  font-size: 14px;
}


.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}
.flexRow--deals {
  background-color: #a7afbd;
  padding: 14px 0px;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}

/* Home */

/* Incluindo espaçamento do texto header*/

.flexColChild--home{
  margin: 10px 0 0 100px;
  font-size: 8.3vw;
  font-family: Circular Std Book, sans-serif;
}

.flexRowContent--stats-container {
  margin-left: 1rem;
  max-width: 25rem;
}

@media only screen and (min-width: 320px) and (max-width: 640px) {
  .flexRow--stats-container {
    width: 50%;
  }
}

/* About */

/* About Us */

.flexCol--textAbout {
  padding-top: 14rem;
  width: 45%;
  padding-left: calc(50% - 200px);
  z-index: 1;
}

.flexRow--aboutRow {
  margin-bottom: 10px;
  overflow: hidden;
  top: -65px; /* Retirar quando ajeitar o menu/header */
  position: relative;
  min-height: 47rem;
}

.flexRow--aboutRow::before {
  content: "";
  position: absolute;
  background: #000;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 10rem;
}

.flexRow--aboutRow :global(.vtex-store-components-3-x-container){
  margin: 0 auto;
}

/* Imagem About */

.flexCol--aboutImage {
  width: 55%;
}


@media only screen and (min-width: 320px) and (max-width: 640px) {
  .flexCol--textAbout {
    padding-top: 6rem;
  }

  .flexRow--aboutRow {
    min-height: 35rem;
  }
}
.flexRow--aboutRow::before {
  bottom: 8rem;
}



/* Fim About Us */



/* Values */
.flexCol--textValues {
  background-color: #f5f5f5;
  top: 6rem;
  position: absolute;
  z-index: 1;
  padding-left: 40rem;
  padding-top: 6rem;
}

@media only screen and (min-width: 320px) and (max-width: 640px) {
  .flexCol--textValues {
    top: 9rem;
    margin-left: 4rem;
    padding-left: 3rem;
    padding-top: 25rem;
  }
}

/* Vision */

.flexRow--visionValuesRow {
  margin-bottom: 0px;
  overflow: hidden;
  position: relative;
  min-height: 42rem;
}

.flexRow--visionValuesRow :global(.vtex-store-components-3-x-container) {
  margin: 0 auto;
}

.flexCol--textVision {
  background: url("https://www.corebiz.ag/wp-content/uploads/2020/06/values-image.jpg");
  background-size: cover;
  margin-left: 0;
  position: relative;
  z-index: 2;
  padding-left: calc(50% - 350px);
  padding-bottom: 10rem;
  padding-top: 5rem;
}

@media only screen and (min-width: 320px) and (max-width: 640px) {
  .flexRow--visionValuesRow {
    width: 100%;
    min-height: 55rem;
  }

  .flexCol--textVision {
    background-size: cover;
    margin-right: 1rem;
    padding: 4rem 1rem;
  }

}

/* Digital Transformation */

.flexRow--digitalTransformationRow{
  padding: 70px 5vw 120px 5vw;
}


/* Footer */

.flexRow.flexRow--footer-flex :global(.vtex-flex-layout-0-x-flexRowContent--footer-flex) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexRow.flexRow--location-n-logo{
  width: 100vw;
}

.flexRow.flexRow--location-mobile,
.flexRow.flexRow--logo-mobile,
.flexRow.flexRow--social-n-language-mobile,
.flexRow.flexRow--rights-mobile{
  background-color: #000000;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 40px;
}

.flexRow.flexRow--logo-mobile{
  padding-top: 60px;
}

.flexRow.flexRow--rights-mobile,
.flexColChild.flexColChild--logo-alt-mobile,
.flexColChild.flexColChild--social-n-language-mobile,
.flexColChild.flexColChild--rights,
.flexColChild.flexColChild--rights-mobile {
  display: flex;
  justify-content: center;
}
