.container--deals {
  color: #ffffff;
  text-align: center;
  justify-content: center;
}

.container--shelfTitle {
  color: #727273;
  justify-content: center;
  text-align: center;
}

.headingLevel2--shelfTitle {
  font-weight: 200;
}

.container--deals .paragraph {
  margin: 0;
}

.container--link {
  justify-content: center;
}

.container--question {
  justify-content: center;
}

.container--question .paragraph {
  text-align: center;
  max-width: 540px;
  margin: 0 16px;
  padding-top: 120px;
  color: #03034E;
}

.container--question .strong {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}

.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #03034E;
}

.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #03034E;
}

.container--title {
  color: #03034E;
  font-size: 28px;
  font-weight: 700;
}

@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }

  .container--about {
    max-width: 85%;
  }

  .container--title {
    color: #03034E;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }

}


/* Home */

/* Title */

.paragraph--title {
  background-color: transparent;
    margin-left: 1rem;
    margin-bottom: 5rem;
    font-size: 8.3vw;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-transform: lowercase;
    line-height: 0.8;
}

.paragraph--subtitle {
    font-family: Circular Std Book,sans-serif;
    max-width: 25.5rem;
    color: #fff;
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    margin-top: 0;
}

.paragraph--stats {
  font-weight: 400;
    font-family: 'Manrope', sans-serif;
    color: #f1c233;
    margin: 0;
    font-size: 1.3rem;
}

.paragraph--stats-description {
  margin: 0.5rem 0 0 0;
  font-family: 'Manrope', sans-serif;
  color: #ccc;
  font-size: 0.8rem;
  letter-spacing: 0.02rem;
  max-width: 11.5rem;
}

@media only screen and (min-width: 320px) and (max-width: 640px) {
  .paragraph--title {
    font-size: 5rem;
    margin-top: 3rem; 
  }

  .paragraph--subtitle {
    font-size: 1.5rem;
  }

  .paragraph--stats {
    font-size: 1rem;
  }

  .container--stats .container--stats-description {
    width: 50%;
  }

}


/* About */

/* About Title */

.container--aboutTitle {
  color: #ffffff;
  font-size: 6rem;
  padding: 0;
}

.wrapper--aboutTitle {
  padding-bottom: 0;
}

.heading--aboutTitle {
  font-size: 5.5rem;
  margin: 0 0 3rem;
  line-height: 0.8;
}

@media only screen and (min-width: 320px) and (max-width: 640px) {
  .heading--aboutTitle {
    margin-top: 1rem;
    font-size: 4rem;
    margin-left: 0.5rem;
  }
}

/* About Text */

.container--aboutText {
  color: #ffffff;
}

.paragraph--aboutText {
  margin: 0 0 3rem 22%;
  line-height: 1.4;
  font-size: 18px;
  width: 100%;
  max-width: 26.4rem;
  color: #fff;
}

@media only screen and (min-width: 320px) and (max-width: 640px) {
  .paragraph--aboutText {
  margin-left: 0.5rem;
  }
}


/* Vision title */
.heading--visionTitle {
  color: #f1c233;
  margin: 10px 0 4rem;
  line-height: 4rem;
  font-size: 52px;
}

/* Vision text */
.wrapper--visionText {
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
  padding-left: 0;
  margin: 0 0 0 8%;
}

.paragraph--visionText {
  margin: 0;
  line-height: 1.3;
}

.container--visionTitle {
  padding-top: 20px;
  padding-left: 40px;
}

.container--visionText {
  padding-left: 30px;
}


@media only screen and (min-width: 320px) and (max-width: 640px) {
  .heading--visionTitle {
    font-size: 2rem;
  }

  .container--visionTitle {
    padding: 0;
    margin-bottom: 0;
  }

  .paragraph--visionText {
    font-size: 1.6rem;
    line-height: 1.5;
  }

  .container--visionText {
    padding-left: 0;
  }


}
/* Values title */

.heading--valuesTitle {
  color: #f1c233;
  font-size: 52px;
  margin: 0 0 4rem;
  line-height: 4rem;
}

/* Values text */

.heading--valuesText {
  color: #000000;
  font-size: 40px;
  line-height: 1.3;
  margin: 0;
  font-weight: 400;
}

@media only screen and (min-width: 320px) and (max-width: 640px) {
  .heading--valuesTitle {
    font-size: 2rem;
    padding: 0;
    margin-bottom: 2rem;
  }

  .heading--valuesText {
    font-size: 2rem;
  }

}




/* Footer */

.heading.heading--address-footer.headingLevel6.headingLevel6--address-footer.heading-level-6 {
  margin-top: 0;
  margin-bottom: 21px;
}