.notificationBarContainer {
  background-color: #e6f1e6;
  color: #03034e;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}

.infoCardContainer--info-card-home {
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}

/* Incluindo espaçamento da logo no Desktop */

.logoImage.logoImage--logo-desktop {
  margin-left: 100px;
}

.newsletter {
  background-color: #03054e;
  max-width: 1528px;
  margin: 0 auto;
}

.newsletter .container {
  padding: 60px 10px;
}

.label {
  color: #fff;
  font-size: 26px;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}


.skuSelectorContainer {
  margin: 1rem 0;
}

@media only screen and (min-width: 640px) {
  .newsletter .container {
    padding: 140px;
  }

  .label {
    font-size: 40px;
  }

  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }

  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 30px;
}


/* Home */

/*Background */

.imageElement--image-background {
  margin-top: -60px;
  min-height: 100vh;
  height: 62rem;
  object-fit: cover;
  overflow-x: hidden;
}

@media (max-width: 640px) {
  .imageElement--image-background {
    min-height: auto;
  }
}

/*Background mobile */

.imageElement--image-background-phone {
  margin-top: -70px;
  margin-bottom: -4px;
}

/* Home - Seção 2 */
.imageElement--partner-logo {
  transition: all 0.3s ease;
}

.imageElement--partner-logo:hover {
  opacity: 0.5;
}

/* Home - Seção 3 - Infocards */
.infoCardContainer--info-card-home {
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  border: none;
}

.infoCardTextContainer--info-card-home {
  margin: 0 5vw;
  max-width: 32rem;
  align-items: flex-start;
}

.infoCardHeadline--info-card-home {
  font-family: 'Manrope', sans-serif;
  font-size: 1.5rem;
  color: #f1c233;
  text-align: left;
}

.infoCardSubhead--info-card-home {
  font-family: 'Manrope', sans-serif;
  font-size: 3rem;
  color: #fff;
  text-align: left;
}

.infoCardCallActionContainer--info-card-home :global(.vtex-button) {
  font-family: 'Manrope', sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: lowercase;
  background-color: #2680eb;
  border-radius: 0;
  border: none;
  padding: 0.5rem 1.3rem 0.7rem;
}

/* Home - Seção 4 - Imagem de fundo */
.imageElement--section-four-bg {
  width: 60%;
  max-height: 100%;
  object-fit: cover;
}

/* Home - Seção 4 - Infocards */
.infoCardContainer--infocard-epoca {
  background-color: #ff6e60;
  margin-right: 3rem;
}

@media(max-width:900px) {
  .infoCardContainer--infocard-epoca {
    margin-right: 0;
  }
}

.infoCardContainer--infocard-msn {
  background-color: #91a7d0;
}

.infoCardContainer--infocard-epoca {
  background-size: 100px !important;
  background-position: 2rem 2rem;
  width: 310px;
  border: none;
}

.infoCardContainer--infocard-msn {
  background-size: 80px !important;
  background-position: 2rem 1.7rem;
  width: 310px;
  border: none;
}

.infoCardTextContainer--infocard-epoca,
.infoCardTextContainer--infocard-msn {
  margin: auto 2rem;
  width: 100%;
}

.infoCardHeadline--infocard-epoca,
.infoCardHeadline--infocard-msn {
  font-family: 'Manrope', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  margin-top: 3rem;
  padding: 4rem 0 6rem;
}

.infoCardCallActionContainer--infocard-epoca,
.infoCardCallActionContainer--infocard-msn {
  z-index: 3;
  width: 100%;
  padding-bottom: 1rem;
}

.infoCardCallActionContainer--infocard-epoca :global(.vtex-button),
.infoCardCallActionContainer--infocard-msn :global(.vtex-button) {
  width: 100%;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 0;
  text-transform: lowercase;
}

/* Home - Seção 5 - Miniaturas de notícias */
.imageElement--news-thumbnail {
  width: 240px;
  height: 120px;
  transition: all 0.3s ease;
}

.imageElement--news-thumbnail:hover {
  opacity: 0.8;
}

/* About */

/* Vision Image */
.imageElement--visionImage {
  max-height: 300px;
  margin-bottom: 20px;
}

/* Fim Vision Image */


/* About Image */
.imageElement--aboutImage {
  position: absolute;
  top: 0;
}


@media only screen and (min-width: 320px) and (max-width: 640px) {
  .imageElement--aboutImage {
    position: relative;
    margin-left: 0.5rem;
  }
}


/* Fim About Image */

/* Footer */

.imageElement.imageElement--bg-footer,
.imageElement.imageElement--bg-footer-mobile{
  position: absolute;
  top: -100px;
  right: 0px;
  z-index: 1;
  width: 65%;
  max-width: 1240px;
}

.imageElement.imageElement--bg-footer-mobile{
  top: -50px;
}

.backToTopButtonContainer.backToTopButtonActive {
  right: 20px;
  width: fit-content;
}
